@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background: radial-gradient(100% 49.18% at 22.5% 49.18%, rgba(6, 0, 12, 0.781) 0%, #000000 100%), url(/public/images/tokens/LOGO.png) center top no-repeat;
  background-size: auto, auto;
  background-size: cover;
  color: aliceblue;
}
